
@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
  /* display: flex; */
  height: 100vh;
  background-color: #E9F7FD;
  background-image: url(./assets/images/IllustrationRead.png), url(./assets/images/vectorCyan.png), url(./assets/images/vectorCream.png);
  background-size: 692px 400px, 728px 1024px, 850px 1024px;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right, top left, top left;
}

.main2 {
  /* display: flex; */
  height: 100vh;
  background-color: #E9F7FD;
  background-image: url(./assets/images/IllustrationRead.png), url(./assets/images/vectorCyan.png), url(./assets/images/vectorCream.png);
  background-size: contain, 788px 1024px, 850px 1024px;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: bottom, right top, top left;
}

.saira-condensed-thin {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-condensed-extralight {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-condensed-light {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-condensed-regular {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-condensed-medium {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-condensed-semibold {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-condensed-bold {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.saira-condensed-extrabold {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-condensed-black {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}
